## Script para conversión y organización de archivos en jsonlines a feather

In [1]:
#Importar librerias
import pandas as pd
from datetime import datetime

* Primero con el dataset de train

In [2]:
# Leer el dataset y covertirlo en dataframe
raw_data = pd.read_json("jl_files/train_dataset.jl.gz",
                        lines=True,
                        orient='columns')

In [3]:
raw_data.head()

                                        user_history  item_bought
0  [{'event_info': 1786148, 'event_timestamp': '2...      1748830
1  [{'event_info': 643652, 'event_timestamp': '20...       228737
2  [{'event_info': 248595, 'event_timestamp': '20...      1909110
3  [{'event_info': 'RADIOBOSS', 'event_timestamp'...      1197370
4  [{'event_info': 'AMAZFIT BIP', 'event_timestam...      2049207

Separar el *user_history* en 4 columnas
- **user_view**: una lista con el numero de los productos que visitó
- **timestamps**: lista con los timestamps correspondientes a los productos visitados
- **user_search**: lista con las búsquedas realizadas
- **search_timestamps**: lista con los timestamps correspondientes a las búsquedas realizadas

In [4]:
raw_data['user_view']= pd.Series(dtype='object')
raw_data['timestamps']= pd.Series(dtype='object')
raw_data['user_search']= pd.Series(dtype='object')
raw_data['search_timestamps']= pd.Series(dtype='object')

In [5]:
for i in raw_data.index:
    lista_view=[]
    lista_time=[]
    lista_search=[]
    lista_search_t=[]
    for item in raw_data.user_history[i]:
        if item['event_type'] =='view':
            lista_view.append(item['event_info'])
            time_string=item['event_timestamp'].replace("T", " ").split('.')[0]
            timestamp=datetime.timestamp(datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S'))
            lista_time.append(timestamp)
        if item['event_type'] =='search':
            lista_search.append(item['event_info'])
            time_string=item['event_timestamp'].replace("T", " ").split('.')[0]
            timestamp=datetime.timestamp(datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S'))
            lista_search_t.append(timestamp)
            
    raw_data.at[i,'user_view']= lista_view
    raw_data.at[i,'timestamps']= lista_time
    
    raw_data.at[i,'user_search']= lista_search
    raw_data.at[i,'search_timestamps']= lista_search_t

In [6]:
raw_data=raw_data.drop('user_history',1)

In [7]:
raw_data.head()

,item_bought,user_view,timestamps,user_search,search_timestamps
0,1748830,"[1786148, 1786148, 1615991, 1615991, 1615991, ...","[1571502342.0, 1571502357.0, 1571502446.0, 157...",[RELOGIO SMARTWATCH],[1571502367.0]
1,228737,"[643652, 1156086, 1943604, 206667, 1282813, 22...","[1570402973.0, 1570459567.0, 1570459673.0, 157...","[DESMAMADEIRA ELETRICA, DESMAMADEIRA ELETRICA,...","[1570459529.0, 1570459577.0, 1570459579.0, 157..."
2,1909110,"[248595, 248595]","[1569951963.0, 1569954110.0]",[],[]
3,1197370,"[505541, 505541, 505541, 505541, 505541, 12300...","[1570569846.0, 1570569956.0, 1570569975.0, 157...","[RADIOBOSS, RADIOBOSS, SOUND FORGE, SOUND FORG...","[1570569831.0, 1570591952.0, 1570735976.0, 157..."
4,2049207,"[130440, 130440, 2049207, 2049207, 2049207, 27...","[1569418739.0, 1569418755.0, 1569418839.0, 156...","[AMAZFIT BIP, AMAZFIT BIP, AMAZFIT BIPAMAZFIT ...","[1569418723.0, 1569418767.0, 1569418787.0, 156..."

In [9]:
## Guardar en un formato optimizado
raw_data.to_feather('feather_files/usuarios.feather')

In [10]:
data=pd.read_feather('feather_files/usuarios.feather')
data.head()

,item_bought,user_view,timestamps,user_search,search_timestamps
0,1748830,"[1786148, 1786148, 1615991, 1615991, 1615991, ...","[1571502342.0, 1571502357.0, 1571502446.0, 157...",[RELOGIO SMARTWATCH],[1571502367.0]
1,228737,"[643652, 1156086, 1943604, 206667, 1282813, 22...","[1570402973.0, 1570459567.0, 1570459673.0, 157...","[DESMAMADEIRA ELETRICA, DESMAMADEIRA ELETRICA,...","[1570459529.0, 1570459577.0, 1570459579.0, 157..."
2,1909110,"[248595, 248595]","[1569951963.0, 1569954110.0]",[],[]
3,1197370,"[505541, 505541, 505541, 505541, 505541, 12300...","[1570569846.0, 1570569956.0, 1570569975.0, 157...","[RADIOBOSS, RADIOBOSS, SOUND FORGE, SOUND FORG...","[1570569831.0, 1570591952.0, 1570735976.0, 157..."
4,2049207,"[130440, 130440, 2049207, 2049207, 2049207, 27...","[1569418739.0, 1569418755.0, 1569418839.0, 156...","[AMAZFIT BIP, AMAZFIT BIP, AMAZFIT BIPAMAZFIT ...","[1569418723.0, 1569418767.0, 1569418787.0, 156..."

Se obtiene como resultado un archivo de tamaño reducido (1.2 GB descomprimido gz a 128 MB) con la misma información organizada de una mejor forma, adicionalmente con este formato se reduce el tiempo de lectura y conversión a dataframe de pandas de 2 minutos a 3 seg en el computador utilizado.

* Ahora convertimos la información de los productos a feather

In [11]:
item_data = pd.read_json("jl_files/item_data.jl.gz",
                        lines=True,
                        orient='columns')

In [12]:
item_data.head()

,item_id,title,domain_id,product_id,price,category_id,condition
0,111260,Casa Sola En Venta Con Gran Patio Solo Pago De...,MLM-INDIVIDUAL_HOUSES_FOR_SALE,NaN,1150000.00,MLM170527,new
1,871377,Resident Evil Origins Collection Nintendo Swit...,MLM-VIDEO_GAMES,15270800.0,1392.83,MLM151595,new
2,490232,Falda De Imitación Piel Negra,MLM-SKIRTS,NaN,350.00,MLM7697,new
3,1150706,Powercolor Red Devil Radeon Rx 580 8gb Gddr5,MLM-GRAPHICS_CARDS,NaN,3200.00,MLM9761,used
4,934912,Laptop Hp Nx6320 Core Duo Con Puerto Db9 Windo...,MLM-NOTEBOOKS,NaN,1599.00,MLM1652,used

In [13]:
item_data.head()

,item_id,title,domain_id,product_id,price,category_id,condition
0,111260,Casa Sola En Venta Con Gran Patio Solo Pago De...,MLM-INDIVIDUAL_HOUSES_FOR_SALE,NaN,1150000.00,MLM170527,new
1,871377,Resident Evil Origins Collection Nintendo Swit...,MLM-VIDEO_GAMES,15270800.0,1392.83,MLM151595,new
2,490232,Falda De Imitación Piel Negra,MLM-SKIRTS,NaN,350.00,MLM7697,new
3,1150706,Powercolor Red Devil Radeon Rx 580 8gb Gddr5,MLM-GRAPHICS_CARDS,NaN,3200.00,MLM9761,used
4,934912,Laptop Hp Nx6320 Core Duo Con Puerto Db9 Windo...,MLM-NOTEBOOKS,NaN,1599.00,MLM1652,used

In [14]:
item_data=item_data[['item_id', 'domain_id', 'category_id', 'product_id', 'title', 'condition', 'price']]

In [15]:
item_data.to_feather('feather_files/productos.feather')

* Realizamos lo mismopara el set de test

In [16]:
# Leer el dataset y covertirlo en dataframe
raw_data = pd.read_json("jl_files/test_dataset.jl.gz",
                        lines=True,
                        orient='columns')

In [17]:
raw_data['user_view']= pd.Series(dtype='object')
raw_data['timestamps']= pd.Series(dtype='object')
raw_data['user_search']= pd.Series(dtype='object')
raw_data['search_timestamps']= pd.Series(dtype='object')

for i in raw_data.index:
    lista_view=[]
    lista_time=[]
    lista_search=[]
    lista_search_t=[]
    for item in raw_data.user_history[i]:
        if item['event_type'] =='view':
            lista_view.append(item['event_info'])
            time_string=item['event_timestamp'].replace("T", " ").split('.')[0]
            timestamp=datetime.timestamp(datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S'))
            lista_time.append(timestamp)
        if item['event_type'] =='search':
            lista_search.append(item['event_info'])
            time_string=item['event_timestamp'].replace("T", " ").split('.')[0]
            timestamp=datetime.timestamp(datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S'))
            lista_search_t.append(timestamp)
            
    raw_data.at[i,'user_view']= lista_view
    raw_data.at[i,'timestamps']= lista_time
    
    raw_data.at[i,'user_search']= lista_search
    raw_data.at[i,'search_timestamps']= lista_search_t
    
raw_data=raw_data.drop('user_history',1)

In [18]:
raw_data.head()

,user_view,timestamps,user_search,search_timestamps
0,"[1572239, 1572239, 1572239, 1572239, 1572239, ...","[1569540707.0, 1569540904.0, 1569541055.0, 156...","[CINE BOX 4K, CINE BOX 4K, CINE BOX 4K, RECEPT...","[1569822622.0, 1569822639.0, 1569822650.0, 156..."
1,"[831243, 1125393, 831243, 943786, 943786, 9437...","[1571016446.0, 1571016473.0, 1571016512.0, 157...","[PENTE PRA MAQUINA BRITANIA, PENTE PRA MAQUINA...","[1571016101.0, 1571016219.0, 1571016346.0, 157..."
2,"[1986443, 991246, 1660615, 283306, 1425647, 13...","[1571267691.0, 1571267794.0, 1571267803.0, 157...","[ACCESORIOS MAZDA3 2019, ACCESORIOS MAZDA3 201...","[1571267778.0, 1571267780.0, 1571268068.0, 157..."
3,[],[],[CAPACETE HELMET],[1569993729.0]
4,"[1398419, 1398419, 1398419, 1398419, 1398419]","[1570019584.0, 1570019806.0, 1570058566.0, 157...","[ANEL DEDO PE, ANEL DEDO PE, ANEL DEDO PE, ANE...","[1570058625.0, 1570058656.0, 1570058670.0, 157..."

In [19]:
## Guardar en un formato optimizado
raw_data.to_feather('feather_files/usuarios_test.feather')